#main {
  margin: 1em 0 0;
  line-height: 1.8;
}

@media only screen and (min-width:1024px) {
  #main {
    margin: 2em 0 0;
    width: 75%;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out
  }
}

#main section.post {
  word-wrap:break-word;
  background: #fafafa;
  margin-bottom: .125em;
}

#main section.post p img{
  max-width: 100%;

}

#main section.post a {
  display: block;
  border-left: .5em solid #ccc;
  -webkit-transition: border-left 0.45s;
  -moz-transition: border-left 0.45s;
  -o-transition: border-left 0.45s;
  -ms-transition: border-left 0.45s;
  transition: border-left 0.45s;
  padding: .5em;
}

@media only screen and (min-width:768px) {
  #main section.post a {
    padding: 1em
  }
  #main section.post {
  width:50%;
  height: auto;
  float: left;
  background: #fafafa;
  margin-bottom: .125em;
}
}

#main section.post a:hover {
  border-left: .5em solid #2ca6cb
}

#main section.post a h2 {
  color: #2ca6cb;
  line-height: 2
}

#main section.post a p {
  color: #817c7c
}

#main section.post a time {
  color: #817c7c;
  display: block;
  margin: .5em 0;
  font-size: .9em
}