{include file="common/header" /}
<div class="right">
	<div class="now" style="width: 1696px;">
		<a href="javascript:;" class="sel">添加分类</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
		<tbody><tr>
			<td align="right" width="150" class="c666">分类名称：</td>
			<td><input type="text" name="name" value="" class="inputall input250"></td>
		</tr>
		<tr>
			<td align="right" class="c666">上级分类：</td>
			<td>
				<select name="pid" class="inputselect" style="width:262px">
				<option value="0">=============== 无 ==============</option>
								{foreach $list as $v}
									<option value="{$v.id}"><?php if($v['layer'] != 1){  echo str_repeat("　 ",$v['layer']);echo '|-';} ?>{$v.name}</option>
								{/foreach}
								</select>
			</td>
		</tr>
		<tr>
			<td align="right" class="c666">分类排序：</td>
			<td><input type="text" name="sorting" value="" class="inputall input80"></td>
		</tr>
		<tr>
			<td align="right" class="c666">分类命名：</td>
			<td><input type="text" name="url" value="" class="inputall input80"><input onclick="pinyi(this)" style="margin-left:10px;" value="pinyi" type="checkbox" />拼音</td>
		</tr>
		<tr>
			<td align="right" class="c666">跳转url：</td>
			<td><input type="text" name="external" value="" class="inputall input500"> <span class="c888">（跳转链接 不填写为本站链接）</span></td>
		</tr>
		<tr>
			<td align="right" class="c666">页面标题：</td>
			<td><input type="text" name="title" value="" class="inputall input500"> <span class="c888">（SEO选项）</span></td>
		</tr>
		<tr>
			<td align="right" class="c666">页面关键词：</td>
			<td><input type="text" name="keywords" value="" class="inputall input500"> <span class="c888">（SEO选项）</span></td>
		</tr>
		<tr>
			<td align="right" class="c666">页面描述：</td>
			<td><textarea name="description" style="width:500px;height:100px;"></textarea> <span class="c888">（SEO选项）</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			{:token()}
				<input type="submit" name="pesubmit" value="提 交" class="tjbtn">
			</td>
		</tr>
		</tbody>
		</table>
		</form>
	</div>
</div>
</div>
</body>
<script type="text/javascript">
		function pinyi(obj)
		{
			var checked = $(obj).attr('checked');
			if(checked == 'checked'){
				$('input[name=url]').css('display','none');
			}else{
				$('input[name=url]').css('display','');
			}
		}
</script>
</html>